
.modal-formulario {
  background-color: white;
  padding: 25px 35px; 
  border-radius: 12px;
  width: 90%;
  max-width: 380px; 
  box-shadow: 0 0 20px rgba(0,0,0,0.2);
  text-align: center;
  position: relative;
}

.modal-formulario h2 {
  margin-top: 0;
  margin-bottom: 20px; 
  font-size: 24px;
}

.modal-formulario label {
  display: block;
  text-align: left;
  margin-top: 12px; 
  margin-bottom: 4px; 
  font-weight: bold;
  font-size: 14px;
}

.modal-formulario input[type="text"],
.modal-formulario input[type="email"],
.modal-formulario input[type="password"],
.modal-formulario select {
  width: 100%;
  padding: 10px 12px; 
  margin-top: 0; 
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 14px;
  box-sizing: border-box;
}

.select-wrapper {
  position: relative;
  width: 100%;
}

.error {
  color: red;
  font-size: 12px;
  text-align: left;
  display: block;
  min-height: 16px; 
  margin-top: 3px;
  margin-bottom: -5px; 
}

.form-actions {
  display: flex;
  gap: 10px;
  margin-top: 20px; 
}

.form-actions .btn-verde {
  flex: 2;
  margin-top: 0;
}

.btn-cancelar {
  flex: 1;
  padding: 12px;
  background-color: #f1f1f1;
  border: 1px solid #ddd;
  color: #333;
  font-weight: bold;
  border-radius: 6px;
  cursor: pointer;
  font-size: 15px;
}

.modal-formulario p {
  margin-top: 15px; 
  font-size: 14px;
  text-align: center;
}

.cerrar-modal {
  position: absolute;
  top: 10px;
  right: 15px;
  font-size: 24px;
  font-weight: bold;
  color: #333;
  cursor: pointer;
}

.modal-formulario p a {
  color: #400080;
  text-decoration: underline;
}

.modal-formulario select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding-right: 30px; 
  background-color: #f7f7f7;
}

.modal-formulario select:invalid {
  color: #757575;
}

.select-wrapper::after {
  content: '▼';
  position: absolute;
  top: 50%;
  right: 15px;
  transform: translateY(-50%);
  font-size: 14px;
  color: #333;
  pointer-events: none;
}

.btn-cancelar:hover {
  background-color: #e1e1e1;
}

.modal-fondo {
  display: none; 
  position: fixed; 
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); 
  z-index: 1000;

  display: flex;
  justify-content: center;
  align-items: center;
}
